config.py
derby.log
nohup.out
ideas.*

data/fileparts
data/steam.sql.gz
data/steam_big.sql.gz
data/steam_segment*
data/s3*
notebooks/metastore_db/
notebooks/.ipynb_checkpoints/

*.java
*.pyc
*.ipynb_checkpoints
*.dat
