config.py
derby.log
nohup.out

src/unused.py

data/*
!data/steam-200k.csv
!data/data_overview.md
!data/example_game.json

notebooks/testing*
notebooks/.ipynb_checkpoints/

*.java
*.pyc
*.ipynb_checkpoints
*.dat
