config.py
derby.log
nohup.out

data/*
!data/data_overview.md
!data/steam-200k.csv
!data/example_game.json
!data/all_steam_apps.json

notebooks/optimization_testing*
notebooks/testing*
notebooks/.ipynb_checkpoints/

*.java
*.pyc
*.ipynb_checkpoints
*.dat
